.burgerMenu 
    .container 
        .burgerMenu__link.burgerMenuLink
            a.burgerMenuLink__item(href="/") Поиск
                img(src="images/icons/search.svg" alt="")
            a.burgerMenuLink__item(href="/") Меню
                img(src="images/icons/burger-menu.svg" alt="")
            a.burgerMenuLink__item(href="/") Помочь
                img(src="images/icons/help.svg" alt="")
        nav.burgerMenu__nav.burgerMenuNav 
            a(href="/") Проекты 
            a(href="/") Отчеты
            a(href="/") Управляющая компания
            a(href="/") Книга дарителей
            a(href="/") Учредительные документы
        ul.burgerMenu__social.burgerMenuSocial 
            li
                a(href="/") 
                    img(src="images/icons/social/youtube.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/instagram.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/vk.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/fb.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/telegram.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/ok.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/twitter.svg" alt="")