.burgerMenu 
    .container 
        .burgerMenu__link.burgerMenuLink
            a.burgerMenuLink__item(href="/") 
                span Поиск
                img(src="images/icons/search.svg" alt="")
            a.burgerMenuLink__item.toggle(href="/") 
                span Меню
                img(src="images/icons/burger-menu.svg" alt="")
            a.burgerMenuLink__item(href="/") 
                span Помочь
                img(src="images/icons/help.svg" alt="")
        nav.burgerMenu__nav.burgerMenuNav 
            a(href="project.html") Проекты 
            a(href="reports.html") Отчеты
            a(href="company.html") Управляющая компания
            a(href="book.html") Книга дарителей
            a(href="documents.html") Учредительные документы
        ul.burgerMenu__social.burgerMenuSocial 
            li
                a(href="/") 
                    img(src="images/icons/social/youtube.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/instagram.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/vk.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/fb.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/telegram.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/ok.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/twitter.svg" alt="")