
.burgerMenu__panel
.burgerMenu 
    .burgerMenu__wrapper
        .burgerMenu__link.burgerMenuLink.container
            a(href="/").burgerMenuLink__item.burgerMenuLink__item--search#search
                span Поиск
                picture
            a(href="/").burgerMenuLink__item.burgerMenuLink__item--burger.toggle
                span Меню
                picture
            a(href="/").burgerMenuLink__item.burgerMenuLink__item--heart
                span Помочь
                picture.puls
        nav.burgerMenu__nav.burgerMenuNav.container 
            a(href="projects.html") Проекты 
            a(href="reports.html") Отчеты
            //- a(href="uk.html") Управляющая компания
            a(href="book.html") Книга дарителей
            a(href="projects.html#newslink") Новости
            a(href="documents.html") Учредительные документы
        ul.burgerMenu__social.burgerMenuSocial.container.scrollbar
            li
                a(href="/") 
                    img(src="images/icons/social/youtube.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/instagram.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/vk.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/fb.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/telegram.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/ok.svg" alt="")
            li
                a(href="/") 
                    img(src="images/icons/social/twitter.svg" alt="")