//- add class footer--inner
footer
    .container 
        .footer__wrapper.wrapperFooter 
            .wrapperFooter__up 
                ul.wrapperFooter__col 
                    li.wrapperFooter__head
                        p Директор СФЦК Арина Габа 
                    li 
                        a(href="tel:+79067274953") +7 906 7274953
                    li   
                        a(href="mailto:agaba@podari-zhizn.ru") agaba@podari-zhizn.ru
                a(href="index.html").wrapperFooter__col 
                    img(src="images/logo-footer.svg" alt="").wrapperFooter__logo
            i.hr 
            .wrapperFooter__down
                p &copy; 2007-2020 Фонд «Подари жизнь»
                p Разработано в <a href="http://kvokka.com">kvokka</a>