header.header 
    .container
        .header__wrapper.headerWrapper
            a(href="index.html").headerWrapper__logo 
                img(src="images/logo-header.svg" alt="Логотип")
            .headerWrapper__nav
                a(href="/").headerWrapper__burger#burger
                    span Меню
                a(href="/").headerWrapper__help
                    span Помочь
    include burgerMenu.pug