header.header 
    // search
    .header__search.search
        .container
            .search__input 
                input(type="text" placeholder="Поиск по сайту")
            .search__btns 
                button 
                    img(src="images/icons/search-large.svg", alt="")
                img(src="images/line.svg", alt="").search__line
                button
                    img(src="images/icons/cross.svg", alt="").search__cross
    .container
        .header__wrapper.headerWrapper
            a(href="index.html").headerWrapper__logo 
                img(src="images/logo-header.svg" alt="Логотип")
            .headerWrapper__nav
                a(href="").headerWrapper__burger.toggle
                    span Меню
                a(href="index.html#feedback").headerWrapper__help
                    .puls
                    span Помочь
    include burgerMenu.pug