.pagination
    .container 
        .pagination__wrapper
            i.arrow.arrow--prev
                button
            ul.pagination__list 
                li.active
                    span 1
                li
                    span 2
                li
                    span 3
                li
                    span ...
                li
                    span 15
            i.arrow.arrow--next
                button 
