.advantages {
    position: relative;
    padding-top: 480px;
    padding-bottom: 238px;

    &::after {
        content: "";
        position: absolute;
        display: block;
        background-image: url("../images/back/advFlower.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 788px;
        height: 441px;
        top: 55%;
        right: 0;
        transform: translateY(-50%);
        z-index: -1;
        @media (max-width: 768px) {
            display: none;
        }
    }

    @media (max-width: 1366px) {
        padding-top: 343px;
        // padding-bottom: 190px;
        padding-bottom: 205px;
    }

    @media (max-width: 1024px) {
        padding-top: 247px;
        padding-bottom: 160px;
    }
    @media (max-width: 768px) {
        padding-top: 205px;
        padding-bottom: 138px;
    }
    @media (max-width: 360px) {
        padding-top: 80px;
        // padding-bottom: 80px;
        padding-bottom: 147px;
    }
}

.advantages__title {
    padding-top: 10px;
    border-top: 2px solid $color-base;
    @media (max-width: 768px) {
        padding-top: 4px;
    }
}

.advantages__subtitle {
    font-size: 40px;
    font-weight: 400;
    max-width: 335px;
    margin-bottom: 100px;

    @media (max-width: 1366px) {
        margin-bottom: 80px;
    }

    @media (max-width: 1024px) {
        margin-bottom: 65px;
    }
}
