.articlePicture {
    padding-top: 60px;
    @media (max-width: 1919px) {
        padding-top: 62px;
    }
    @media (max-width: 1023px) {
        padding-top: 48px;
        .sideTitle {
            display: none !important;
        }
    }
}

.articlePicture__description {
    margin-right: 220px;

    &--big {
        font-size: 40px;
        @media (max-width: 1919px) {
            max-width: 300px;
            width: 100%;
        }
        @media (max-width: 1023px) {
            max-width: 100%;
            text-align: right;
        }
        @media (max-width: 767px) {
            text-align: left;
        }
    }

    &--small {
        font-size: 24px;
        color: #808080;
        border-top: 1px solid #c4c4c4;
        margin-right: 44px;
        padding-right: 70px;
        padding-top: 20px;
        @media (max-width: 1919px) {
            font-size: 20px;
        }
        @media (max-width: 1365px) {
            font-size: 18px;
        }
        @media (max-width: 1023px) {
            font-size: 16px;
            padding-top: 10px;
        }
        @media (max-width: 767px) {
            font-size: 18px;
            border-top: 0;
        }
    }
    @media (max-width: 1365px) {
        margin-right: 0;
        padding-right: 40px;
        margin-bottom: 20px;
    }
    @media (max-width: 1023px) {
        margin-bottom: 10px;
    }
}

.articlePicture__text {
    font-size: 24px;
    margin-bottom: 40px;
    @media (max-width: 1919px) {
        font-size: 20px;
        margin-bottom: 20px;
    }
    @media (max-width: 1365px) {
        font-size: 18px;
    }
    @media (max-width: 1023px) {
        font-size: 16px;
    }
    @media (max-width: 767px) {
        font-size: 18px;
    }
}
