.article__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
    @media (max-width: 1365px) {
        font-size: 32px;
    }
    @media (max-width: 1023px) {
        flex-direction: column;
        font-size: 28px;
        padding-bottom: 23px;
        .sideTitle {
            @media (max-width: 1023px) {
                display: block;
                padding-right: 0;
            }
        }
        .articlePicture__col {
            &:first-child {
                order: 1;
            }
            &:last-child {
                order: 0;
            }
        }
    }
}

.article__center {
    padding-top: 0;
    padding-bottom: 0;
}

.article__picture {
    @media (max-width: 767px) {
        border-top: 1px solid #c4c4c4;
        padding-top: 30px;
    }
}
