.btnMore {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    font-size: 24px;
    padding-right: 120px;
    align-self: start;
    cursor: pointer;

    span {
        margin-right: 30px;

        @media (max-width: 1366px) {
            font-size: 20px;
        }
        @media (max-width: 768px) {
            font-size: 16px;
        }
        @media (max-width: 360px) {
            font-size: 18px;
            margin-right: 18px;
        }
    }

    picture {
        width: 90px;

        @media (max-width: 1366px) {
            width: 75px;
        }

        @media (max-width: 1024px) {
            width: 67px;
        }
        @media (max-width: 768px) {
            width: 60px;
        }
        @media (max-width: 360px) {
            width: 63px;
        }
    }
    &.active {
        picture {
            img {
                display: none;
            }
            img[hidden] {
                display: block;
            }
        }
    }

    &--white {
        color: #fff;

        &:hover {
            opacity: 0.9;
        }
    }

    &:hover {
        &::after {
            opacity: 0.9;
        }
    }

    @media (max-width: 1366px) {
        font-size: 20px;
        padding-right: 100px;
    }

    @media (max-width: 1024px) {
        font-size: 20px;
    }
}
