.burgerMenuSocial {
    display: flex;
    margin-top: auto;

    li {
        width: 70px;
        height: 70px;
        display: block;
        margin-right: 25px;
        @media (max-width: 1919px) {
            width: 63px;
            height: 63px;
        }
        @media (max-width: 1365px) {
            width: 55px;
            height: 55px;
        }
        @media (max-width: 1023px) {
            width: 50px;
            height: 50px;
        }
        @media (max-width: 767px) {
            width: 60px;
            height: 60px;
            margin-right: 20px;
        }
    }
    @media (max-width: 767px) {
        width: 550px;
        overflow-x: scroll;
    }
}
