.burgerMenuNav {
    display: flex;
    flex-direction: column;
    margin-bottom: 175px;
    // margin-bottom: 20px;

    a {
        position: relative;
        font-size: 60px;
        font-weight: 500;
        padding-top: 16px;
        padding-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #a0a0a0;

        &:hover {
            color: $color-red;

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 41px;
                height: 41px;
                background-image: url("../images/arrow-diag-red.svg");
                background-repeat: no-repeat;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        @media (max-width: 1919px) {
            font-size: 48px;
        }

        @media (max-width: 1365px) {
            font-size: 40px;
        }

        @media (max-width: 1023px) {
            font-size: 34px;
        }
        @media (max-width: 767px) {
            font-size: 30px;
        }
    }
    @media (max-width: 767px) {
        margin-bottom: 45px;
    }
}
