.documentsList {
    display: flex;
    justify-content: space-between;
    padding: 68px 0;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;

    p {
        font-size: 24px;

        @media (max-width: 1366px) {
            font-size: 20px;
        }
        @media (max-width: 1024px) {
            font-size: 18px;
        }
    }

    @media (max-width: 1366px) {
        padding-top: 40px;
        padding-bottom: 45px;
    }
    @media (max-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.documentsList__item {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #c4c4c4;
    flex: 1 0 33%;
    width: 100%;

    a {
        display: block;
        margin-bottom: 20px;

        img {
            display: block;
        }
    }

    &:hover {
        a {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                display: block;
                background-image: url("../images/icons/search-red.svg");
                background-size: cover;
                width: 90px;
                height: 90px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 100;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                background-color: rgba(205, 214, 219, 0.2);
            }
        }
    }

    @media (max-width: 1366px) {
        padding-left: 16px;
        padding-right: 16px;
    }
    @media (max-width: 1024px) {
        padding-left: 12px;
        padding-right: 12px;
    }
}
