.faces {
    &--index {
        padding-top: 125px;
        padding-bottom: 90px;

        @media(max-width: 1366px) {
            padding-top: 100px;
            padding-bottom: 72px;
        }

        @media(max-width: 1024px) {
            padding-top: 75px;
            padding-bottom: 45px;
        }
    }

    &--projects {
        margin-bottom: 0;
        padding-top: 100px;

        @media(max-width: 1366px) {
            padding-top: 80px;
        }
    }
}

.faces__title {
    @media(max-width: 1366px) {
        padding-bottom: 20px;
    }

    @media(max-width: 1024px) {
        padding-bottom: 22px;
    }
}