.feedback {
    position: relative;
    padding-top: 120px;
    padding-bottom: 165px;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        display: block;
        background-image: url("../images/back/footerFlower.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 1893px;
        height: 1157px;
        left: 0;
        bottom: -80px;
    }
}

.formFeedback__consent {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #c4c4c4;
    margin-bottom: 40px;
}