.feedback {
    position: relative;
    padding-top: 137px;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        display: block;
        background-image: url("../images/back/footerFlower.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 1893px;
        height: 1157px;
        left: 0;
        bottom: -232px;
        @media (max-width: 1919px) {
            width: 1349px;
            height: 825px;
        }
        @media (max-width: 1365px) {
            width: 1023px;
            height: 626px;
        }
        @media (max-width: 1023px) {
            display: none;
        }
    }

    @media (max-width: 1919px) {
        padding-top: 97px;
    }
    @media (max-width: 1365px) {
        padding-top: 80px;
    }
    @media (max-width: 1023px) {
        padding-top: 67px;
    }
}

.formFeedback__consent {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #c4c4c4;
    margin-bottom: 40px;

    @media (max-width: 1919px) {
        padding-top: 16px;
        margin-bottom: 28px;
    }
    @media (max-width: 1023px) {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    @media (max-width: 767px) {
        margin-top: 15px;
    }
}
