.fondsInWorld {
    position: relative;
    padding-top: 120px;
    padding-bottom: 135px;

    .container {
        z-index: 5;
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        background-image: url("../images/back/fondsFlower.svg");
        width: 963px;
        height: 703px;
        background-size: cover;
        background-repeat: no-repeat;
        bottom: -50px;
        left: 0;
        z-index: 4;
        @media (max-width: 1366px) {
            width: 686px;
            height: 476px;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }

    @media (max-width: 1366px) {
        padding-top: 90px;
        padding-bottom: 108px;
    }

    @media (max-width: 1024px) {
        padding-top: 80px;
        padding-bottom: 83px;
    }

    @media (max-width: 768px) {
        padding-top: 65px;
        padding-bottom: 70px;
    }
    @media (max-width: 360px) {
        display: none;
    }
}

// .fondsInWorld__title {
//     @media(max-width: 1024px) {
//         padding-bottom: 45px;
//     }
// }
