.fondsInWorld {
    position: relative;
    padding-top: 120px;
    padding-bottom: 135px;

    .container {
        z-index: 5;
    }
    .tabs__head {
        display: flex;
    }
    &::after {
        content: "";
        position: absolute;
        display: block;
        background-image: url("../images/back/fondsFlower.svg");
        width: 963px;
        height: 703px;
        background-size: cover;
        background-repeat: no-repeat;
        bottom: -50px;
        left: 0;
        z-index: 4;
        @media (max-width: 1919px) {
            width: 686px;
            height: 506px;
        }
        @media (max-width: 1365px) {
            width: 575px;
            height: 420px;
        }
        @media (max-width: 1023px) {
            display: none;
        }
    }

    @media (max-width: 1919px) {
        padding-top: 90px;
        padding-bottom: 108px;
    }

    @media (max-width: 1365px) {
        padding-top: 80px;
        padding-bottom: 83px;
    }

    @media (max-width: 1023px) {
        padding-top: 65px;
        padding-bottom: 70px;
    }
    @media (max-width: 767px) {
        display: none;
    }
}
