.fondsInWorld {
    position: relative;
    padding: 150px 0;
    .container {
        z-index: 5;
    }
    &::after {
        content: "";
        position: absolute;
        display: block;
        background-image: url("../images/back/fondsFlower.svg");
        width: 963px;
        height: 703px;
        background-size: cover;
        background-repeat: no-repeat;
        bottom: -50px;
        left: 0;
        z-index: 4;
    }
}
