.fotodate {
    padding-top: 100px;
}

.fotodate__slick {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #c4c4c4;
}

.fotodateSlick__item {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 2);
    border-right: 1px solid #c4c4c4;
    padding-right: 70px;
    padding-left: 70px;

    img {
        margin-bottom: 40px;
    }

    p {
        font-size: 24px;
    }

    &.n3 {
        border-right: none;
        padding-right: 0;

    }

    &.n4 {
        padding-left: 0;
    }
    // &--mode {
    //     width: calc(100% / 3);
    //     padding-right: 22px;
    //     padding-left: 22px;
    //     img {
    //         height: 465px;
    //     }
    // }
}