.header {
    // overflow: hidden;
    padding-top: 30px;
    background-color: $color-red;
    position: relative;
    z-index: 1;

    @media (max-width: 1023px) {
        padding-top: 20px;
    }
}
