.hero {
    position: relative;
    display: flex;
    padding-bottom: 80px;
    background-color: $color-red;
    color: #fff;
    height: 620px;

    .container {
        margin-top: auto;
    }

    .br {
        display: block;
    }

    @media (max-width: 1366px) {
        height: 462px;
        padding-bottom: 55px;
    }
    @media (max-width: 768px) {
        padding-bottom: 40px;
    }
    @media (max-width: 360px) {
        padding-bottom: 20px;
    }

    &--inner {
        margin-bottom: 150px;

        @media (max-width: 1366px) {
            margin-bottom: 75px;
        }
        @media (max-width: 1024px) {
            height: 432px; // book
            margin-bottom: 53px;
        }
        @media (max-width: 768px) {
            height: 348px;
        }
        @media (max-width: 360px) {
            height: 222px;
        }
    }

    &--mode {
        margin-bottom: 100px;
    }

    &--book {
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 610px;
            height: 1060px;
            right: 0;
            top: 0;
            background-image: url("../images/back/bookFlower.svg");
            background-repeat: no-repeat;
            background-size: cover;
            @media (max-width: 1366px) {
                width: 450px;
                height: 764px;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &--reports {
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 778px;
            height: 995px;
            right: 0;
            top: 0;
            background-image: url("../images/back/reportsFlower.svg");
            background-repeat: no-repeat;
            background-size: cover;
            @media (max-width: 1366px) {
                width: 547px;
                height: 701px;
                top: 40px;
            }
            @media (max-width: 1024px) {
                width: 442px;
                height: 571px;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &--project {
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 834px;
            height: 774px;
            right: 0;
            top: 300px;
            background-image: url("../images/back/documentsFlower.svg");
            background-repeat: no-repeat;
            background-size: cover;
            @media (max-width: 1366px) {
                width: 616px;
                height: 571px;
                top: 209px;
            }
            @media (max-width: 1024px) {
                width: 445px;
                height: 408px;
                top: 128px;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &--projects {
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 764px;
            height: 990px;
            right: 0;
            top: 50px;
            background-image: url("../images/back/projectsFlower.svg");
            background-repeat: no-repeat;
            background-size: cover;
            @media (max-width: 1366px) {
                width: 546px;
                height: 697px;
            }
            @media (max-width: 1024px) {
                width: 442px;
                height: 573px;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &--documents {
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 834px;
            height: 774px;
            right: 0;
            top: 300px;
            background-image: url("../images/back/documentsFlower.svg");
            background-repeat: no-repeat;
            background-size: cover;
            @media (max-width: 1366px) {
                width: 616px;
                height: 571px;
                top: 210px;
            }
            @media (max-width: 1024px) {
                width: 445px;
                height: 408px;
                top: 123px;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    &--uk {
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 786px;
            height: 443px;
            right: 0;
            top: 426px;
            background-image: url("../images/back/ukFlower.svg");
            background-repeat: no-repeat;
            background-size: cover;
            @media (max-width: 1366px) {
                width: 535px;
                height: 322px;
                top: 330px;
            }
            @media (max-width: 1024px) {
                width: 446px;
                height: 249px;
                top: 327px;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &--new {
        height: 420px;
        @media (max-width: 1366px) {
            height: 308px;
            margin-bottom: 77px;
        }
        @media (max-width: 1024px) {
            height: 292px;
            margin-bottom: 50px;
        }
        @media (max-width: 768px) {
            height: 308px;
        }
        @media (max-width: 360px) {
            height: 222px;
        }
    }
}

.hero__title {
    font-size: 150px;
    font-family: $font-title;
    line-height: 1.1;
    font-weight: 500;

    @media (max-width: 1366px) {
        font-size: 110px;
    }
    @media (max-width: 1024px) {
        font-size: 74px;
    }
    @media (max-width: 360px) {
        font-size: 40px;
        line-height: 1.4;
    }
    &--new {
        font-size: 80px;
        @media (max-width: 1366px) {
            font-size: 60px;
        }
        @media (max-width: 1024px) {
            font-size: 50px;
        }
        @media (max-width: 360px) {
            font-size: 30px;
        }
    }
}
