.hero {
    display: flex;
    padding-bottom: 100px;
    background-color: $color-red;
    color: #fff;
    height: 620px;

    .container {
        margin-top: auto;
    }

    .br {
        display: block;
    }
}

.hero__title {
    font-size: 150px;
    font-family: $font-title;
    line-height: 1.1;
    font-weight: 500;
}