.infoByFond {
    position: relative;
    background-color: #f6f7f8;
    padding-top: 110px;
    padding-bottom: 130px;
    z-index: 2;
}

.infoByFond--red {
    background-color: $color-red;
    color: #fff;
    padding-bottom: 400px;
    .infoByFond__title {
        color: #fff;
        border-top: 2px solid #f6f7f8;
    }
}
