.infoByFond {
    position: relative;
    background-color: #f6f7f8;
    padding-top: 110px;
    padding-bottom: 110px;
    z-index: 2;

    @media(max-width: 1366px) {
        padding-top: 70px;
        padding-bottom: 80px;
    }

    @media(max-width: 1024px) {
        padding-top: 55px;
        padding-bottom: 70px;
    }
}

.infoByFond__title {
    @media(max-width: 1024px) {
        padding-bottom: 45px;
    }
}

.infoByFond__content {
    position: relative;
    padding-bottom: 400px;
    padding-top: 110px;
    padding-bottom: 400px;

    @media(max-width: 1366px) {
        padding-top: 90px;
        padding-bottom: 300px;
    }

    @media(max-width: 1024px) {
        padding-top: 68px;
        padding-bottom: 230px;
    }
}

.infoByFond--red {
    background-color: $color-red;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;


    .infoByFond__title {
        color: #fff;
        border-top: 2px solid #f6f7f8;
    }
}

.infoByFond__kakRabotaet {
    position: absolute;
    outline: 1px solid #C4C4C4;
    transform: translate(0, 15%);
    width: 100%;
}