.innerPage__description {
    max-width: 1080px;
    margin-bottom: 125px;

    @media (max-width: 1919px) {
        font-size: 30px;
        max-width: 768px;
        margin-bottom: 113px;
    }
    @media (max-width: 1365px) {
        font-size: 28px;
        max-width: 575px;
        margin-bottom: 90px;
    }
    @media (max-width: 1023px) {
        font-size: 24px;
        max-width: 100%;
        margin-bottom: 80px;
    }
    @media (max-width: 767px) {
        font-size: 22px;
    }

    &--uk {
        margin-bottom: 75px;

        @media (max-width: 1919px) {
            margin-bottom: 53px;
        }
    }
    &--new {
        margin-left: auto;
        padding-bottom: 0;
        margin-bottom: 0;
        @media (max-width: 1023px) {
            margin-left: 0;
        }
    }
}
