.innerPage__description {
    max-width: 1080px;
    margin-bottom: 125px;

    &--new {
        margin-left: auto;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    @media(max-width: 1366px) {
        font-size: 30px;
        max-width: 768px;
        margin-bottom: 113px;
    }
}