.itemWrapperFace {

    .itemLine,
    .itemLine--mode {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #C4C4C4;
        margin-top: 50px;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.itemWrapperFace__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    overflow: hidden;
    border-right: 1px solid #C4C4C4;
    padding-right: 20px;
    padding-left: 20px;

    img {
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .itemWrapperFace__subtitle {
        font-size: 24px;
        color: #808080;
        font-weight: 400;
    }

    &--mode {
        width: 50%;

        .itemWrapperFace__pic {
            height: 515px;
        }
    }
}

.itemWrapperFace__pic {
    height: 465px;
    margin-bottom: 25px;
}

.itemWrapperFace__title {
    font-size: 60px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;

    .br {
        display: block;
    }
}

.itemWrapperFace--book {
    flex-wrap: wrap;

    .itemWrapperFace__item {
        display: block;
    }

    .itemWrapperFace__subtitle {
        font-weight: 400;
        display: block;
        margin-bottom: 40px;
    }

    .itemWrapperFace__label {
        font-size: 24px;
        font-weight: 400;
        height: 100%;
    }
}

.itemWrapperFace__date {
    font-size: 24px;
    color: #808080;
    margin-left: auto;
    margin-top: 20px;
}