.itemWrapperFace {

    .itemLine,
    .itemLine--mode {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #C4C4C4;
        margin-top: 50px;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.itemWrapperFace--book {
    flex-wrap: wrap;

    .itemWrapperFace__item {
        display: block;
    }

    .itemWrapperFace__subtitle {
        font-weight: 400;
        display: block;
        margin-bottom: 40px;
    }

    .itemWrapperFace__label {
        font-size: 24px;
        font-weight: 400;
        height: 100%;
    }
}

.itemWrapperFace__date {
    font-size: 24px;
    color: #808080;
    margin-left: auto;
    margin-top: 20px;
}