.largeLinkGroup {
    background-color: #f6f7f8;
}

.largeLinkGroup__wrapper {
    display: flex;
    flex-direction: column;
    .largeLink {
        position: relative;
        font-size: 60px;
        font-weight: 500;
        background-color: transparent;
        display: flex;
        &:first-child {
            padding-top: 80px;
            padding-bottom: 50px;
        }
        &:last-child {
            padding-top: 50px;
            padding-bottom: 80px;
        }
        &:hover {
            color: $color-red;
            &::after {
                content: "";
                position: absolute;
                display: block;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 41px;
                height: 41px;
                background-image: url("../images/arrow-diag-red.svg");
                background-size: cover;
                background-repeat: none;
            }
        }
    }
    .hr {
        height: 1px;
        width: 100%;
        display: block;
        background-color: #c4c4c4;
    }
}
