.largeLink {
    background-color: $color-red;
    // height: 227px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        position: relative;
        display: block;
        font-size: 70px;
        font-weight: 500;
        color: #fff;
        line-height: 1.4;
        width: 100%;
        // padding-top: 50px;
        // padding-bottom: 80px;

        @media (max-width: 1366px) {
            font-size: 48px;
        }

        @media (max-width: 1024px) {
            font-size: 40px;
        }

        @media (max-width: 768px) {
            font-size: 34px;
        }
        @media (max-width: 360px) {
            font-size: 30px;
        }
    }

    &:hover {
        a {
            color: rgba(255, 255, 255, 0.8);

            &::after {
                content: "";
                position: absolute;
                display: block;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 41px;
                height: 41px;
                background-image: url("../images/arrow-white.svg");
                background-size: cover;
                background-repeat: no-repeat;
                @media (max-width: 360px) {
                    top: 0;
                    transform: translateY(0);
                }
            }
        }
    }

    &--main {
        height: 230px;
        a {
            @media (max-width: 360px) {
                padding-right: 170px;
            }
        }
        @media (max-width: 1366px) {
            height: 185px;
        }

        @media (max-width: 1024px) {
            height: 160px;
        }
        @media (max-width: 768px) {
            height: 134px;
        }
        @media (max-width: 360px) {
            height: 206px;
        }
    }
}
