.mainHero {
    position: relative;
    background-color: $color-red;
    padding-bottom: 40px;
    height: 743px;
    > .container {
        display: flex;
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 1920px;
        height: 800px;
        background-image: url("../images/back/hands-top.svg");
        background-repeat: no-repeat;
        bottom: -157px;
        left: 0;
    }
}

.mainHero__wrapper {
    max-width: 807px;
    margin-top: auto;
}

.mainHero__title {
    padding-top: 45px;
    padding-bottom: 90px;
    font-size: 156px;
    font-weight: 500;
    font-family: $font-title;
    color: #fff;
    line-height: 1.1;
}

.mainHero__subtitle {
    color: #fff;
    font-size: 20px;
    display: flex;
    h4 {
        font-weight: 500;
        margin-right: 30px;
    }
    p {
        font-weight: 300;
    }
}
