.missionFond {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;

    &::after {
        content: "";
        position: absolute;
        display: block;
        background-image: url("../images/back/missionFlower.svg");
        width: 539px;
        height: 791px;
        background-size: cover;
        bottom: -70px;
        left: 0;
        z-index: 3;

        @media(max-width: 768px) {
            display: none;
        }
    }

    @media (max-width: 1366px) {
        padding-top: 90px;
        padding-bottom: 130px;
    }

    @media(max-width: 1024px) {
        padding-top: 65px;
        padding-bottom: 97px;
    }
    @media(max-width: 768px) {
        padding-top: 10px;
    }
}

.missionFond__title {
    margin-top: 50px;
    position: relative;
    z-index: 4;
}