.pagination__wrapper {
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    height: 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow {
        background-repeat: no-repeat;
        background-position: center;
        width: 64px;
        cursor: pointer;

        button {
            border: none;
            background-color: transparent;
        }

        &:hover {
            opacity: 0.9;
        }

        @media(max-width: 1366px) {
            width: 53px;
        }
    }

    .arrow--prev {
        background-image: url("../images/arrow-prev.svg");
    }

    .arrow--next {
        background-image: url("../images/arrow-next.svg");
    }

    ul {
        display: flex;
        align-items: center;
        height: 100%;

        li {
            &.active {
                color: $color-red;
            }
        }

        span {
            font-size: 24px;

            @media(max-width: 1366px) {
                font-size: 20px;
            }
        }
    }

    @media(max-width: 1366px) {
        height: 97px;
    }
}

.pagination__list {
    li {
        height: 20px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}