.puls {
  // position: relative;
  // width: 70px;
  // padding-left: 95px;
  animation: animateHeart 2.5s infinite;
  // z-index: 10;

  // &::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 50%;
  //   left: 0;
  //   transform: translateY(-50%);
  //   background-image: url("../images/help-btn.svg");
  //   background-repeat: no-repeat;
  //   width: 87.4px;
  //   height: 87.4px;
  //   @media (max-width: 1366px) {
  //     width: 78px;
  //     height: 78px;
  //   }
  // }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.8);
  }

  5% {
    transform: scale(0.9);
  }

  10% {
    transform: scale(0.8);
  }

  15% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(0.8);
  }
}