.reportsSumm {
    padding-top: 10px;
    padding-bottom: 150px;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
}

.reportsSumm__title {
    padding-bottom: 20px;
}

.reportsSumm__count {
    font-size: 156px;
    line-height: 1;
    font-weight: 500;
    color: $color-red;
    margin-bottom: 0;
}