.reportsInner {
    display: flex;
    flex-direction: column;
}

.reportsInner__link {
    position: relative;
    font-size: 60px;
    font-weight: 500;
    // padding-top: 0;
    // padding-bottom: 20px;
    // margin-bottom: 25px;
    padding: 20px 0;
    border-bottom: 1px solid #c4c4c4;

    &:hover {
        color: $color-red;

        &::after {
            content: "";
            position: absolute;
            display: block;
            background-image: url("../images/icons/download.svg");
            background-repeat: no-repeat;
            background-size: contain;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 60px;
            height: 62px;
            @media (max-width: 1023px) {
                width: 30px;
                height: 30px;
            }
        }
    }

    @media (max-width: 1919px) {
        font-size: 48px;
    }
    @media (max-width: 1023px) {
        font-size: 34px;
    }
    @media (max-width: 767px) {
        font-size: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 105px;
        &::after {
            content: "";
            position: absolute;
            display: block;
            background-image: url("../images/icons/download.svg");
            background-repeat: no-repeat;
            background-size: contain;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
        }
    }
}

.reportsInner__items {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 45px;

    a {
        display: block;
    }
}
