.reportsInner {
    display: flex;
    flex-direction: column;
    .reportsInner__btn {
        margin-top: 50px;
    }
}

.reportsInner__link {
    position: relative;
    font-size: 60px;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #c4c4c4;

    &:hover {
        color: $color-red;

        &::after {
            content: "";
            position: absolute;
            display: block;
            background-image: url("../images/icons/download.svg");
            background-repeat: no-repeat;
            background-size: cover;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 60px;
            height: 62px;
        }
    }
}

