.sideTitle {
    font-family: $font-title;
    @media (max-width: 1366px) {
        font-size: 36px;
    }
    @media(max-width: 1024px) {
        font-size: 32px;
    }
    @media(max-width: 768px) {
        display: none;
    }
}
