.tabsFondsInWorld__item {
    font-size: 24px;

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 11px;

        tr {
            td {
                line-height: 1.5;

                &:last-child {
                    text-align: right;
                }
                @media (max-width: 1366px) {
                    font-size: 20px;
                }
            }
        }
    }
}
