.tabsFondsInWorld__item {
    font-size: 24px;

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 11px;

        tr {
            td {
                line-height: 1.5;

                &:last-child {
                    text-align: right;
                }

                @media (max-width: 1919px) {
                    font-size: 20px;
                }

                @media (max-width: 1365px) {
                    font-size: 18px;
                }

                @media (max-width: 1023px) {
                    font-size: 16px;
                }
            }
        }

        @media (max-width: 1365px) {
            border-spacing: 0 2px;
        }
    }
}
