.tasks {
    background-color: $color-red;
    color: #fff;
    padding-top: 82px;
    padding-bottom: 140px;

    @media(max-width: 1366px) {
        padding-top: 69px;
    }
}

.tasks__title {
    color: #fff;
}