.tasks {
    background-color: $color-red;
    color: #fff;
    padding-top: 82px;
    padding-bottom: 105px;

    @media (max-width: 1919px) {
        padding-top: 60px;
        padding-bottom: 85px;
    }

    @media (max-width: 1365px) {
        padding-top: 45px;
        padding-bottom: 70px;
    }
    @media (max-width: 1023px) {
        padding-bottom: 58px;
    }
    @media (max-width: 767px) {
        padding-top: 37px;
        padding-bottom: 50px;
    }
}

.tasks__title {
    color: #fff;
}
