.titleInner {
    font-size: 80px;
    line-height: 1.4;
    font-weight: 500;
    font-family: $font-title;
    color: $color-base;
    padding-bottom: 50px;
    @media (max-width: 1366px) {
        font-size: 60px;
        padding-bottom: 33px;
    }
}
