.wrapperTasks {
    p {
        margin-bottom: 30px;
        @media (max-width: 1366px) {
            font-size: 30px;
        }
    }
}

.wrapperTasks__list {
    .listWrapperTasks__item {
        border-bottom: 1px solid #fff;
        a {
            font-size: 60px;
            font-weight: 500;
            color: #fff;
            @media (max-width: 1366px) {
                font-size: 48px;
            }
        }
        &:hover,
        &:focus {
            a {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}
