.wrapperInfoByFond {
    display: flex;
}

.wrapperInfoByFond__col {
    &:first-child {
        font-size: 40px;
        margin-right: 230px;
        flex: 1 0 340px;
    }
}

.wrapperInfoByFond__btn {
    position: relative;
    display: inline-block;
    font-size: 24px;
    margin-top: 80px;
    padding-right: 120px;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 90px;
        height: 90px;
        background-image: url("../images/plus.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    &--white {
        color: #fff;
        &:after {
            background-image: url("../images/plus-white.svg");
        }
    }
}
