.wrapperInfoByFond {
    display: flex;
}

.wrapperInfoByFond__col {
    &:first-child {
        font-size: 40px;
        margin-right: 230px;
        flex: 1 0 340px;
    }
}

.wrapperInfoByFond__text {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}