.wrapperMissionFond {
    max-width: 1120px;
    margin-left: auto;
}

.wrapperMissionFond__content {
    padding-bottom: 70px;
    @media (max-width: 1366px) {
        font-size: 30px;
        margin-left: auto;
        max-width: 770px;
        padding-bottom: 50px;
    }
}

.wrapperMissionFond__list {
    display: flex;
    p {
        font-size: 24px;
        @media (max-width: 1366px) {
            font-size: 20px;
        }
    }
    @media(max-width: 1366px) {
        max-width: 770px;
        margin-left: auto;
    }
}

.wrapperMissionFond__item {
    img {
        display: block;
        width: 99px;
        height: 99px;
        object-fit: cover;
        margin-bottom: 20px;
        @media (max-width: 1366px) {
            width: 80px;
            height: 80px;
        }
    }
    &:first-child {
        margin-right: 90px;
        @media(max-width: 1366px) {
            margin-right: 0;
        }
    }
    &:last-child {
        @media(max-width: 1366px) {
            // margin-left: 100px;
        }
    }
}
