.wrapperFaces {
    padding-bottom: 65px;
    border-bottom: 1px solid #c4c4c4;

    &--book {
        border-top: 1px solid #c4c4c4;
        padding-top: 25px;
    }

    &--mode {
        border-bottom: 0;
    }
}

.wrapperFaces__item {
    display: flex;
    flex-wrap: wrap;
}