.wrapperInfoByFond {
    display: flex;
}

.wrapperInfoByFond__col {
    &:first-child {
        margin-right: 50px;
        max-width: 490px;

        @media(max-width: 1366px) {
            // margin-right: 125px;
        }
    }

    &:last-child {
        @media (max-width: 1366px) {
            font-size: 30px;
        }

        @media(max-width: 1024px) {
            font-size: 28px;
        }

        @media(max-width: 768px) {
            font-size: 24px;
        }
    }
}

.wrapperInfoByFond__text {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 50px;

    p {
        margin-bottom: 10px;
    }

    @media (max-width: 1366px) {
        font-size: 30px;
    }

    @media(max-width: 1024px) {
        font-size: 28px;
        -webkit-line-clamp: 9;
        margin-bottom: 35px;
    }

    @media(max-width: 768px) {
        font-size: 24px;
        margin-bottom: 40px;
        -webkit-line-clamp: 7;
    }
}