doctype html
html(lang="ru")
    head
        include modules/head.pug
    body.innerPage
        include modules/header.pug

        //- section.hero
        section.hero.hero--inner.hero--book 
            .container 
                .hero__breadcrumbs.breadcrumbs
                    a(href="index.html") Главная
                    span |
                    a.current Книга дарителей 
                h1.hero__title Книга <i class='br'></i> дарителей

        //- section.faces 
        section.faces 
            .container 
                .innerPage__description
                    p Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. 
                .wrapperFondsInWorld__tabs.tabsFondsInWorld.wrapperFaces.wrapperFaces--book
                    ul.wrapperFaces__item.itemWrapperFace#fond
                        li.itemWrapperFace__item
                            h2.itemWrapperFace__title Чулпан <i class="br"></i> Хаматова
                            h4.itemWrapperFace__subtitle Директор ПАО «Сбербанк»
                            .itemWrapperFace__pic
                                img(src="images/faces/1.jpg" alt="")
                            h4.itemWrapperFace__text Определить свою цель – найти Полярную звезду. Она станет для вас ориентиром, если вы собьетесь с пути.
                        li.itemWrapperFace__item
                            h2.itemWrapperFace__title Чулпан <i class="br"></i> Хаматова
                            h4.itemWrapperFace__subtitle Директор ПАО «Сбербанк»
                            .itemWrapperFace__pic
                                img(src="images/faces/1.jpg" alt="")
                            h4.itemWrapperFace__text Определить свою цель – найти Полярную звезду. Она станет для вас ориентиром, если вы собьетесь с пути.
                        li.itemWrapperFace__item
                            h2.itemWrapperFace__title Чулпан <i class="br"></i> Хаматова
                            h4.itemWrapperFace__subtitle Директор ПАО «Сбербанк»
                            .itemWrapperFace__pic
                                img(src="images/faces/1.jpg" alt="")
                            h4.itemWrapperFace__text Определить свою цель – найти Полярную звезду. Она станет для вас ориентиром, если вы собьетесь с пути.
                        li.itemWrapperFace__item
                            h2.itemWrapperFace__title Чулпан <i class="br"></i> Хаматова
                            h4.itemWrapperFace__subtitle Директор ПАО «Сбербанк»
                            .itemWrapperFace__pic
                                img(src="images/faces/1.jpg" alt="")
                            h4.itemWrapperFace__text Определить свою цель – найти Полярную звезду. Она станет для вас ориентиром, если вы собьетесь с пути.
                        li.itemWrapperFace__item
                            h2.itemWrapperFace__title Чулпан <i class="br"></i> Хаматова
                            h4.itemWrapperFace__subtitle Директор ПАО «Сбербанк»
                            .itemWrapperFace__pic
                                img(src="images/faces/1.jpg" alt="")
                            h4.itemWrapperFace__text Определить свою цель – найти Полярную звезду. Она станет для вас ориентиром, если вы собьетесь с пути.
                        li.itemWrapperFace__item
                            h2.itemWrapperFace__title Чулпан <i class="br"></i> Хаматова
                            h4.itemWrapperFace__subtitle Директор ПАО «Сбербанк»
                            .itemWrapperFace__pic
                                img(src="images/faces/1.jpg" alt="")
                            h4.itemWrapperFace__text Определить свою цель – найти Полярную звезду. Она станет для вас ориентиром, если вы собьетесь с пути.
                        

                    //- ul.wrapperFaces__item.itemWrapperFace.itemWrapperFace--book
                    //-     li.itemWrapperFace__item
                    //-         h2.itemWrapperFace__title Павел <i class="br"></i> Иванов
                    //-         h4.itemWrapperFace__subtitle Директор ПАО «Сбербанк»
                    //-         .itemWrapperFace__pic
                    //-             img(src="images/faces/1.jpg" alt="")
                    //-         p.itemWrapperFace__label Определить свою цель – найти Полярную звезду. Она станет для вас ориентиром, если вы собьетесь с пути.
                    //-     li.itemWrapperFace__item
                    //-         h2.itemWrapperFace__title Павел <i class="br"></i> Иванов
                    //-         h4.itemWrapperFace__subtitle Директор ПАО «Сбербанк»
                    //-         .itemWrapperFace__pic
                    //-             img(src="images/faces/2.jpg" alt="")
                    //-         p.itemWrapperFace__label В диалоге с жизнью важен не ее вопрос, а наш ответ.
                    //-     li.itemWrapperFace__item
                    //-         h2.itemWrapperFace__title Павел <i class="br"></i> Иванов
                    //-         h4.itemWrapperFace__subtitle Директор ПАО «Сбербанк»
                    //-         .itemWrapperFace__pic
                    //-             img(src="images/faces/3.jpg" alt="")
                    //-         p.itemWrapperFace__label Определить свою цель – найти Полярную звезду. Она станет для вас ориентиром, если вы собьетесь с пути.
                    //-     li.itemWrapperFace__item
                    //-         h2.itemWrapperFace__title Павел <i class="br"></i> Иванов
                    //-         h4.itemWrapperFace__subtitle Директор ПАО «Сбербанк»
                    //-         .itemWrapperFace__pic
                    //-             img(src="images/faces/2.jpg" alt="")
                    //-         p.itemWrapperFace__label Как бы мы ни понимали добро, жизнь наша есть не что иное, как стремление к добру.
                    //-     li.itemWrapperFace__item
                    //-         h2.itemWrapperFace__title Павел <i class="br"></i> Иванов
                    //-         h4.itemWrapperFace__subtitle Директор ПАО «Сбербанк»
                    //-         .itemWrapperFace__pic
                    //-             img(src="images/faces/1.jpg" alt="")
                    //-         p.itemWrapperFace__label Определить свою цель – найти Полярную звезду. Она станет для вас ориентиром, если вы собьетесь с пути.
                    //-     li.itemWrapperFace__item
                    //-         h2.itemWrapperFace__title Павел <i class="br"></i> Иванов
                    //-         h4.itemWrapperFace__subtitle Директор ПАО «Сбербанк»
                    //-         .itemWrapperFace__pic
                    //-             img(src="images/faces/3.jpg" alt="")
                    //-         p.itemWrapperFace__label Определить свою цель – найти Полярную звезду. Она станет для вас ориентиром, если вы собьетесь с пути.



        //- footer
        include modules/footer.pug


    include modules/script.pug