doctype html
html(lang="ru")
    head
        include modules/head.pug
    body.innerPage
        include modules/header.pug

        //- section.hero
        section.hero.hero--inner.hero--book 
            .container 
                .hero__breadcrumbs.breadcrumbs
                    a(href="index.html") Главная
                    span |
                    a.current Книга дарителей 
                h1.hero__title Книга <i class='br'></i> дарителей

        //- section.faces 
        section.faces 
            .container 
                .innerPage__description
                    p Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. 
                .tabs
                    .tabs__head
                    ul.tabs__content.tabs__content--book
                        li.tabs__item.item__first
                            h2.tabs__title Павел <i class="br"></i> Иванов
                            h4.tabs__subtitle Директор ПАО «Сбербанк»
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            p.tabs__text Определить свою цель – найти Полярную звезду. Она станет для вас ориентиром, если вы собьетесь с пути.
                        li.tabs__item.item__first
                            h2.tabs__title Чулпан <i class="br"></i> Хаматова
                            h4.tabs__subtitle Директор ПАО «Сбербанк»
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            p.tabs__text В диалоге с жизнью важен не ее вопрос, а наш ответ.
                        li.tabs__item.item__first
                            h2.tabs__title Чулпан <i class="br"></i> Хаматова
                            h4.tabs__subtitle Директор ПАО «Сбербанк»
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            p.tabs__text Как бы мы ни понимали добро, жизнь наша есть не что иное, как стремление к добру.
                        li.tabs__item.item__first
                            h2.tabs__title Чулпан <i class="br"></i> Хаматова
                            h4.tabs__subtitle Директор ПАО «Сбербанк»
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            p.tabs__text Определить свою цель – найти Полярную звезду. Она станет для вас ориентиром, если вы собьетесь с пути.
                        li.tabs__item.item__first
                            h2.tabs__title Чулпан <i class="br"></i> Хаматова
                            h4.tabs__subtitle Директор ПАО «Сбербанк»
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            p.tabs__text В диалоге с жизнью важен не ее вопрос, а наш ответ.
                        li.tabs__item.item__first
                            h2.tabs__title Чулпан <i class="br"></i> Хаматова
                            h4.tabs__subtitle Директор ПАО «Сбербанк»
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            p.tabs__text Как бы мы ни понимали добро, жизнь наша есть не что иное, как стремление к добру.


        //- footer
        include modules/footer.pug


    include modules/script.pug