doctype html
html(lang="ru")
    head
        include modules/head.pug
    body
        include modules/header.pug

        //- section.mainHero
        section.mainHero 
            .container
                .mainHero__wrapper 
                    h1.mainHero__title Фонд целевого капитала
                    .mainHero__subtitle
                        h4 Учредитель
                        p Благотворительный фонд помощи детям с онкогематологическими и иными тяжелыми заболеваниями  «Подари жизнь»

        //- section.missionFond
        section.missionFond
            .container 
                h2.missionFond__title.titleInner Миссия ФЦК фонда
                .missionFond__wrapper.wrapperMissionFond 
                    .wrapperMissionFond__content 
                        p Мы хотим, чтобы любой ребенок или молодой взрослый с онкологическим или гематологическим заболеванием мог получить самую эффективную и современную медицинскую помощь, а также немедицинскую поддержку
                    ul.wrapperMissionFond__list
                        li.wrapperMissionFond__item
                            picture
                                img(src="images/advantages/item1.svg" alt="")
                            p Все программы фонда направлены прежде всего на защиту интересов ребенка и его права на получение своевременной качественной медицинской помощи. 
                        li.wrapperMissionFond__item
                            picture
                                img(src="images/advantages/item2.svg" alt="")
                            p Программы финансируются только    за счет частных пожертвований и помощи бизнеса, не за счет государственных грантов и субсидий. 

        //- section.infoByFond 
        section.infoByFond 
            .container 
                h2.infoByFond__title.titleInner Зачем учредили эндаумент-фонд?
                .infoByFond__wrapper.wrapperInfoByFond 
                    .wrapperInfoByFond__col
                        p Долгосрочная перспектива развития
                    .wrapperInfoByFond__col
                        .wrapperInfoByFond__text.show-content
                            p Фонд «Подари жизнь» уже давно рассматривал возможность создания эндаумент-фонда. Были аргументы как «за», так и «против». 
                            p Но в 2020 году в жизни некоммерческих организаций, в том числе и фонда   «Подари жизнь», произошли серьезные изменения, которые подтолкнули нас к необходимости новых действий. Но в 2020 году в жизни некоммерческих организаций, в том числе и фонда   «Подари жизнь», произошли серьезные изменения, которые подтолкнули нас к необходимости новых действий. Но в 2020 году в жизни некоммерческих организаций, в том числе и фонда   «Подари жизнь», произошли серьезные изменения, которые подтолкнули нас к необходимости новых действий. 
                        a.btnMore Читать больше

        //- section.container.largeLink 
        section.container.largeLink 
            a(href="uk.html")  УК «Сбер-управление активами»

        //- section.fondsInWorld 
        section.fondsInWorld 
            .container
                h2.fondsInWorld__title.titleInner Эндаумент-фонды в мире
                .fondsInWorld__wrapper.wrapperFondsInWorld
                    .wrapperFondsInWorld__content
                        p Благодаря эндаумент-фондам американские и европейские ВУЗы удерживают лидерство в науке, привлекают лучших преподавателей, финансируют самые амбициозные исследования, помогают талантливым студентам
                    //- tabs
                    .wrapperFondsInWorld__tabs.tabsFondsInWorld.tabs
                        ul.tabsFondsInWorld__head
                            li
                                a(href="#europe") В Европе
                            li
                                a(href="#usa") В США
                            li
                                a(href="#russia") В России
                        .tabsFondsInWorld__item#europe
                            table 
                                tr
                                    td Фонд Нобеля SEK 
                                    td SEK 4,9 млрд
                                tr
                                    td Кембриджский университет
                                    td €5,4 млрд
                                tr
                                    td Оксфордский университет
                                    td €4,3 млрд
                                tr
                                    td Университет Цюриха 
                                    td €960 млн
                        .tabsFondsInWorld__item#usa
                            table 
                                tr
                                    td Фонд Нобеля SEK 
                                    td SEK 4,9 млрд
                                tr
                                    td Кембриджский университет
                                    td €5,4 млрд
                                tr
                                    td Оксфордский университет
                                    td €4,3 млрд
                                tr
                                    td Университет Цюриха 
                                    td €960 млн
                        .tabsFondsInWorld__item#russia
                            table 
                                tr
                                    td Фонд Нобеля SEK 
                                    td SEK 4,9 млрд
                                tr
                                    td Кембриджский университет
                                    td €5,4 млрд
                                tr
                                    td Оксфордский университет
                                    td €4,3 млрд
                                tr
                                    td Университет Цюриха 
                                    td €960 млн

        //- section.infoByFond 
        section.infoByFond.infoByFond--red
            .container 
                .infoByFond__content
                    h2.infoByFond__title.titleInner Как работает эндаумент-фонд?
                    .infoByFond__wrapper.wrapperInfoByFond 
                        .wrapperInfoByFond__col
                            p Стабильность помощи нашим подопечным
                        .wrapperInfoByFond__col
                            p Мы рассчитываем, что эндаумент создаст для фонда «Подари жизнь» стабильный ресурс с долгосрочной перспективой развития, а также даст возможность избежать потенциальных рисков, связанных с изменениями показателей состояния рынка (например, во время экономического кризиса) 
                    .infoByFond__kakRabotaet 
                        img(src="images/kak-rabotaet.jpg" alt="")

        //- section.advantages
        section.advantages
            .container
                h2.advantages__title.titleInner Преимущества эндаумент-фонда
                h4.advantages__subtitle.sideTitle Вечная социальная инвестиция
                ul.advantages__slider.sliderAdvantages
                    li.sliderAdvantages__item
                        .sliderAdvantages__picture
                            img(src="images/advantages/item1.svg" alt="")
                        .sliderAdvantages__text
                            p Средства эндаумента приносят доход, позволяющий осуществлять проекты помощи фонда «Подари жизнь» без ограничения срока
                    li.sliderAdvantages__item
                        .sliderAdvantages__picture
                            img(src="images/advantages/item2.svg" alt="")
                        .sliderAdvantages__text
                            p Физические лица, которые передают средства в эндаумент, могут получить вычет из подоходного налога
                    li.sliderAdvantages__item
                        .sliderAdvantages__picture
                            img(src="images/advantages/item3.svg" alt="")
                        .sliderAdvantages__text
                            p Средства эндаумента приносят доход, позволяющий осуществлять проекты помощи фонда «Подари жизнь» без ограничения срока
                    li.sliderAdvantages__item
                        .sliderAdvantages__picture
                            img(src="images/advantages/item4.svg" alt="")
                        .sliderAdvantages__text
                            p Физические лица, которые передают средства в эндаумент, могут получить вычет из подоходного налога
                    li.sliderAdvantages__item
                        .sliderAdvantages__picture
                            img(src="images/advantages/item5.svg" alt="")
                        .sliderAdvantages__text
                            p Физические лица, которые передают средства в эндаумент, могут получить вычет из подоходного налога
                    li.sliderAdvantages__item
                        .sliderAdvantages__picture
                            img(src="images/advantages/item6.svg" alt="")
                        .sliderAdvantages__text
                            p Физические лица, которые передают средства в эндаумент, могут получить вычет из подоходного налога
                    li.sliderAdvantages__item
                        .sliderAdvantages__picture
                            img(src="images/advantages/item7.svg" alt="")
                        .sliderAdvantages__text
                            p Физические лица, которые передают средства в эндаумент, могут получить вычет из подоходного налога
                    li.sliderAdvantages__item
                        .sliderAdvantages__picture
                            img(src="images/advantages/item8.svg" alt="")
                        .sliderAdvantages__text
                            p Физические лица, которые передают средства в эндаумент, могут получить вычет из подоходного налога

        //- section.tasks
        section.tasks
            .container 
                h2.tasks__title.titleInner Наши проекты
                .tasks__wrapper.wrapperTasks 
                    p Развитие проектов немедицинской помощи пациентам клиник,  а также сбор средств на лечение и реабилитацию детей с онкологическими и гематологическими заболеваниями
                    ul.wrapperTasks__list.listWrapperTasks
                        li.largeLink.listWrapperTasks__item
                            a(href="project.html") Проект «Пансионат Измалково»
                        li.largeLink.listWrapperTasks__item
                            a(href="/") Проект «Незарегистрированные лекарства»
                        li.largeLink.listWrapperTasks__item
                            a(href="/") Проект «Научный»
                        li.largeLink.listWrapperTasks__item
                            a(href="/") Проект «Качество жизни»
                        li.wrapperTasks__btn
                            a(href="projects.html").btnMore.btnMore--white Все проекты

        //- section.faces 
        section.faces.faces--index
            .container 
                h2.faces__title.titleInner Органы управления СФЦК фонда
                //- tabs
                .tabs
                    ul.tabs__head
                        li
                            a(href="#fond") Совет фонда
                        li
                            a(href="#sovet") Попечительский совет
                        li
                            a(href="#director") Директор

                    ul.tabs__content#fond
                        li.tabs__item
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title Чулпан <i class="br"></i> Хаматова
                            h4.tabs__text Директор департамента стратегических закупок ПАО Ростелеком
                        li.tabs__item
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title Чулпан <i class="br"></i> Хаматова
                            h4.tabs__text Директор департамента стратегических закупок ПАО Ростелеком
                        li.tabs__item
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title Чулпан <i class="br"></i> Хаматова
                            h4.tabs__text Директор департамента стратегических закупок ПАО Ростелеком
                    ul.tabs__content#sovet
                        li.tabs__item
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title Чулпан <i class="br"></i> Хаматова
                            h4.tabs__text Директор департамента стратегических закупок ПАО Ростелеком
                        li.tabs__item
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title Чулпан <i class="br"></i> Хаматова
                            h4.tabs__text Директор департамента стратегических закупок ПАО Ростелеком
                        li.tabs__item
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title Чулпан <i class="br"></i> Хаматова
                            h4.tabs__text Директор департамента стратегических закупок ПАО Ростелеком
                    ul.tabs__content#director
                        li.tabs__item
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title Чулпан <i class="br"></i> Хаматова
                            h4.tabs__text Директор департамента стратегических закупок ПАО Ростелеком
                        li.tabs__item
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title Чулпан <i class="br"></i> Хаматова
                            h4.tabs__text Директор департамента стратегических закупок ПАО Ростелеком
                        li.tabs__item
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title Чулпан <i class="br"></i> Хаматова
                            h4.tabs__text Директор департамента стратегических закупок ПАО Ростелеком



        //- section.largeLink 
        section.largeLinkGroup
            .container
                .largeLinkGroup__wrapper
                    a(href="/").largeLink Отчетность
                    span.hr
                    a(href="documents.html").largeLink Учредительные документы

        //- section.feedback
        section.feedback#feedback
            .container 
                .feedback__title.titleInner Сделать пожертвование 
                form(action="get").feedback__form.formFeedback
                    p
                        input(type="text" placeholder="Имя")
                        input(type="text" placeholder="Фамилия")
                    p
                        input(type="text" placeholder="E-mail")
                    p.select
                        select#select
                            option(selected="selected") Выберите сумму
                            option(value="1") 100 
                            option(value="2") 200
                            option(value="3") 300
                            option(value="other") Другая сумма
                    p.formFeedback__newElement
                        input(type="text" placeholder="")
                    i.hr 
                    .formFeedback__consent 
                        p Нажимая  «Помочь», я соглашаетесь с условиями <a href="/">договора-оферты</a> и даю согласие на <a href="/">обработку персональных данных</a>.
                    .formFeedback__submit 
                        button Помочь

        //- footer
        include modules/footer.pug


    include modules/script.pug