doctype html
html(lang="ru")
    head
        include modules/head.pug
    body.innerPage
        include modules/header.pug

        //- section.hero
        section.hero.hero--mode.hero--new 
            .container 
                .hero__breadcrumbs.breadcrumbs
                    a(href="index.html") Главная
                    span |
                    a(href="projects.html") Проекты 
                    span |
                    a.current Название статьи на этом месте
                h1.hero__title.hero__title--new Название статьи на этом месте

        //- section.new
        section.new 
            .container 
                .innerPage__description.innerPage__description--new
                    p Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.  
                .new__article.articlePicture
                    h2.article__inner.new__title Подзаголовок
                    .article__row
                        .articlePicture__col
                            p.articlePicture__description.articlePicture__description--big.sideTitle Какая-то фраза будет написана тут
                        .articlePicture__col.article__inner
                            p.articlePicture__text Равным образом рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. 
                            ul.mainList
                                li
                                    p сбор средств на лечение и реабилитацию детей с онкологическими и гематологическими заболеваниями;
                                li
                                    p помощь онкологическим и гематологическим клиникам, где лечатся дети и молодые взрослые;
                                li
                                    p привлечение общественного внимания к проблемам больных детей;
                                li
                                    p содействие развитию безвозмездного донорства крови;
                    .article__row
                        .articlePicture__col 
                            p.articlePicture__description.articlePicture__description--small В диалоге с жизнью важен не ее вопрос,            а наш ответ.
                        .articlePicture__col.article__inner
                            img(src="images/article1.jpg" alt="")

                .new__article.articleSmall 
                    .article__row
                        .col
                            h2.articleSmall__title Иван Иванов Сергеевич
                            p.articleSmall__subtitle директор ПАО Сбербанк
                        .col.article__inner 
                            p «Цитата данного человека, чье имя написано слева будет написана на этом месте. Под ФИО написана должность.»

                .new__article.articlePicture
                    h2.article__inner.new__title Подзаголовок
                    .article__row
                        .articlePicture__col
                        .articlePicture__col.article__inner
                            p.articlePicture__text Равным образом рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. 

                    .article__row
                        .articlePicture__col 
                            p.articlePicture__description.articlePicture__description--small Какое-то описание к фотографии/подпись в одну-две строки.
                        .articlePicture__col.article__inner
                            img(src="images/article2.jpg" alt="")



        //- footer
        include modules/footer.pug


    include modules/script.pug