doctype html
html(lang="ru")
    head
        include modules/head.pug
    body.innerPage
        include modules/header.pug

        //- section.hero
        section.hero.hero--inner.hero--projects
            .container 
                .hero__breadcrumbs.breadcrumbs
                    a(href="index.html") Главная
                    span |
                    a.current Проекты
                h1.hero__title Проекты

        //- section.project 
        section.project 
            .container 
                .innerPage__description
                    p Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.  
                .project__description.projectDescription 
                    h2.titleInner.projectDescription__title Почему важна поддержка проектов?
                    .projectDescription__wrapper 
                        .projectDescription__col 
                            p.sideTitle Вечная социальная инвестиция
                        .projectDescription__col.side-container
                            .projectDescription__text
                                p Равным образом рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. 
                            ul.projectDescription__list.mainList
                                li
                                    p сбор средств на лечение и реабилитацию детей с онкологическими и гематологическими заболеваниями;
                                li
                                    p помощь онкологическим и гематологическим клиникам, где лечатся дети и молодые взрослые;
                                li
                                    p привлечение общественного внимания к проблемам больных детей;
                                li
                                    p содействие развитию безвозмездного донорства крови;

        //- section.faces 
        section.faces.faces--projects
            .container 
                h2.faces__title.titleInner Проектная деятельность
                //- tabs
                .tabs.tabs__projects
                    ul.tabs__head.tabs__head--projects
                        li
                            a(href="#projects") Проекты
                        li
                            a(href="#news") Новости

                    ul.tabs__content.tabs__content--projects.tabs__list--news#projects
                        li.tabs__item.tabs__item--mode.item__projects.item__second
                            h2.tabs__title.maxHeight Пансионат Измалково
                            .tabs__pic.tabs__pic--mode.tabs__pic--projects
                                img(src="images/faces/1.jpg" alt="")
                        li.tabs__item.tabs__item--mode.item__projects.item__second
                            h2.tabs__title.maxHeight Незарегистрированные лекарства
                            .tabs__pic.tabs__pic--mode.tabs__pic--projects
                                img(src="images/faces/1.jpg" alt="")
                        li.tabs__item.tabs__item--mode.item__projects.item__second
                            h2.tabs__title.maxHeight Научный
                            .tabs__pic.tabs__pic--mode.tabs__pic--projects
                                img(src="images/faces/1.jpg" alt="")
                        li.tabs__item.tabs__item--mode.item__projects.item__second
                            h2.tabs__title.maxHeight Качество жизни
                            .tabs__pic.tabs__pic--mode.tabs__pic--projects
                                img(src="images/faces/1.jpg" alt="")

                    ul.tabs__content.tabs__content--news.tabs__list--news#news
                        li.tabs__item.tabs__news.item__news.item__first
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title.maxHeight2 Акции и события фонда
                            p Определить свою цель – найти Полярную звезду. Она станет для вас ориентиром, если вы собьетесь с пути.
                            p.tabs__date 12.03.2021
                        li.tabs__item.tabs__news.item__news.item__first
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title.maxHeight2 Акции и события фонда
                            p В диалоге с жизнью важен не ее вопрос, а наш ответ.
                            p.tabs__date 12.03.2021
                        li.tabs__item.tabs__news.item__news.item__first
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title.maxHeight2 Заголовок новости
                            p Как бы мы ни понимали добро, жизнь наша есть не что иное, как стремление к добру.
                            p.tabs__date 12.03.2021
                        li.tabs__item.tabs__news.item__news.item__first
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title.maxHeight2 Акции и события фонда
                            p Определить свою цель – найти Полярную звезду. Она станет для вас ориентиром, если вы собьетесь с пути.
                            p.tabs__date 12.03.2021
                        li.tabs__item.tabs__news.item__news.item__first
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title.maxHeight2 Акции и события фонда
                            p В диалоге с жизнью важен не ее вопрос, а наш ответ.
                            p.tabs__date 12.03.2021
                        li.tabs__item.tabs__news.item__news.item__first
                            .tabs__pic
                                img(src="images/faces/1.jpg" alt="")
                            h2.tabs__title.maxHeight2 Заголовок новости
                            p Как бы мы ни понимали добро, жизнь наша есть не что иное, как стремление к добру.
                            p.tabs__date 12.03.2021



        //- pagination
        include modules/pagination.pug

        //- footer
        include modules/footer.pug


    include modules/script.pug