doctype html
html(lang="ru")
    head
        include modules/head.pug
    body.innerPage
        include modules/header.pug

        //- section.hero
        section.hero.hero--inner.hero--reports
            .container 
                .hero__breadcrumbs.breadcrumbs
                    a(href="index.html") Главная
                    span |
                    a.current Отчеты
                h1.hero__title Отчеты

        //- section.faces 
        section.reports 
            .container 
                .innerPage__description
                    p Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.  
                .reports__summ.reportsSumm
                    h2.reportsSumm__title.titleInner Общее состояние фонда
                    p.reportsSumm__count 1 750 000 ₽
                    p.reportsSumm__text было собрано за все время работы фонда
                .reports__inner.reportsInner
                    h2.reportsInner__title.titleInner В разделе
                    .reportsInner__items.show-content
                        a(href="" download).reportsInner__link Отчет фонда за 2020
                        a(href="" download).reportsInner__link Отчет фонда за 2021
                        a(href="" download).reportsInner__link Отчет фонда за 2019
                        a(href="" download).reportsInner__link Отчет фонда за 2018
                        a(href="" download).reportsInner__link Отчет фонда за 2017
                        a(href="" download).reportsInner__link Отчет фонда за 2016
                        a(href="" download).reportsInner__link Отчет фонда за 2015
                        a(href="" download).reportsInner__link Отчет фонда за 2014
                    a.reportsInner__btn.btnMore 
                        span Показать больше
                        img(src="images/plus.svg", alt="")



        //- footer
        include modules/footer.pug


    include modules/script.pug