doctype html
html(lang="ru")
    head
        include modules/head.pug
    body.innerPage
        include modules/header.pug

        //- section.hero
        section.hero.hero--inner.hero--project
            .container 
                .hero__breadcrumbs.breadcrumbs
                    a(href="index.html") Главная
                    span |
                    a.current Управляющая компания
                h1.hero__title Управляющая <i class="br"></i> компания

        //- section.uk 
        section.uk
            .container 
                .innerPage__description
                    p Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.  

                .ukWrapper
                    .ukWrapper__tabs.ukWrapperTabs
                        .ukWrapperTabs__button
                            //- btn
                            .btn
                                button Сбер управление активами
                            //- content
                            div
                                .ukWrapperTabs__content
                                    .ukWrapperTabs__col.ukWrapperTabs__logo
                                        img(src="images/icons/sber-logo.svg" alt="")

                                    .ukWrapperTabs__col 
                                        ul
                                            li
                                                h2 А++
                                                p рейтинг компании (наивысший рейтинг надежности РА «Эксперт РА»)
                                            li
                                                h2 1,3 трлн
                                                p находятся под управлением
                                            li
                                                h2 №1
                                                p на российском рынке открытых ПИФов
                                        p.ukWrapperTabs__text АО «Сбер Управление Активами» зарегистрировано Московской регистрационной палатой 01.04.1996. Лицензия ФКЦБ России на осуществление деятельности по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами №21-000-1-00010 от 12.09.1996. Лицензия ФКЦБ России №045-06044-001000 от 07.06 2002 на осуществление деятельности по управлению ценными бумагами.
                            //- btn
                            .btn
                                button Другая управляющая компания
                            //- content
                            div
                                .ukWrapperTabs__content
                                    .ukWrapperTabs__col.ukWrapperTabs__logo
                                        img(src="images/icons/sber-logo.svg" alt="")

                                    .ukWrapperTabs__col 
                                        ul
                                            li
                                                h2 B++
                                                p рейтинг компании (наивысший рейтинг надежности РА «Эксперт РА»)
                                            li
                                                h2 1,3 трлн
                                                p находятся под управлением
                                            li
                                                h2 №1
                                                p на российском рынке открытых ПИФов
                                        p.ukWrapperTabs__text АО «Сбер Управление Активами» зарегистрировано Московской регистрационной палатой 01.04.1996. Лицензия ФКЦБ России на осуществление деятельности по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами №21-000-1-00010 от 12.09.1996. Лицензия ФКЦБ России №045-06044-001000 от 07.06 2002 на осуществление деятельности по управлению ценными бумагами.
                            //- btn
                            .btn
                                button Еще одна УК
                            //- content
                            div
                                .ukWrapperTabs__content
                                    .ukWrapperTabs__col.ukWrapperTabs__logo
                                        img(src="images/icons/sber-logo.svg" alt="")

                                    .ukWrapperTabs__col 
                                        ul
                                            li
                                                h2 C++
                                                p рейтинг компании (наивысший рейтинг надежности РА «Эксперт РА»)
                                            li
                                                h2 1,3 трлн
                                                p находятся под управлением
                                            li
                                                h2 №1
                                                p на российском рынке открытых ПИФов
                                        p.ukWrapperTabs__text АО «Сбер Управление Активами» зарегистрировано Московской регистрационной палатой 01.04.1996. Лицензия ФКЦБ России на осуществление деятельности по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами №21-000-1-00010 от 12.09.1996. Лицензия ФКЦБ России №045-06044-001000 от 07.06 2002 на осуществление деятельности по управлению ценными бумагами.




        //- footer
        include modules/footer.pug


    include modules/script.pug